*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    background: #ffffff;
}

.medio {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: rgb(8, 0, 19);
}

.medio p {
    margin: 0;
    position: relative; 
    cursor: pointer;
    color: #a0a0a0;
}



.derecha{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.derecha a {
    display: block;
    padding: 20px;
    background: #8b8b8b;
    color: #fafff8;
    margin-right: 5px; 
    text-decoration: none;
}
