

.container{
    background: #ec1321;
    height: 1000px;
    width: 800px;
}
.container h1{
    background: rgb(42, 167, 71);
}
.container h2{
    position: absolute;
    background: rgb(103, 174, 221);
    top: 47px;
    width: 808px;
    padding: 10px;
}
.container h3{
    position: absolute;
    background: rgb(103, 221, 182);
    top: 103px;
    padding: 20px;
}





.right h1{
    position: absolute;
    background: #1713ec;
    top: 0px;
    left: 808px;
    width: 1000px;
    
}
.right h2{
    position: absolute;
    background: #f52f7b;
    left: 808px;
    top: 47px;
    padding: 50px;
    width: 200px;
}
